* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Cormorant", sans-serif;
    color: #b52a11;
}

body {
    background-color: #e8e3dd;
    margin: 0 2rem;
    /* padding-top: 5rem; */
}

p {
    font-size: 1.2rem;
}

li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 4rem;
}

h1 {
    font-family: "Cormorant";
    margin-top: 5rem;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-family: "Cormorant";
    font-weight: 300;
    margin-top: 1rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.navbar {
    font-family: "Montserrat", sans-serif;
    background-color: #e8e3dd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
}

.name-logo p {
    font-family: "Chalkboard";
    font-weight: lighter;
    font-size: 1.2rem;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
}

.nav-links li a {
    color: #b52a11;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.8rem 1rem;
}

.nav-links li a:hover,
.nav-links li a:focus {
    color: #5d3c11;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #b52a11;
    cursor: pointer;
}

.bio {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.bio img {
    width: auto;
    height: 50vh;
    margin-right: 4rem;
    border-radius: 10px;
}

.bio p {
    max-width: 40vw;
    margin-left: 4rem;
}

.bio h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    text-align: center;
}

.contact-me {
    font-style: italic;
    font-weight: bold;
    text-align: right;
    margin-top: 1rem;
}

.contact-me :hover,
.contact-me :focus {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.3rem;
    transition: font-size 0.2s ease-in-out;
    color: #5d3c11;
}

.contact-me::before {
    content: "→";
    margin-right: 0.5rem;
    color: #b52a11;
    font-size: 2rem;
    transition: font-size 0.2s ease-in-out;
    text-decoration: none;
}

.contact-me:hover::before,
.contact-me:focus::before {
    color: #5d3c11;
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .navbar {
        justify-content: center;
        padding: 1rem;
        position: fixed;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 1100;
    }

    .name-logo {
        text-align: center;
        flex: 1;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -60%;
        width: 30%;
        height: 100vh;
        background-color: #e8e3dd;
        flex-direction: column;

        gap: 2rem;
        transition: left 0.3s ease-in-out;
        z-index: 1050;
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 2rem;
    }

    .nav-links.active {
        left: 0;
    }

    .navbar .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .bio {
        flex-direction: column;
    }

    .intro-text p {
        width: 100%;
    }

    .bio img {
        width: 80vw;
        height: auto;
        margin: auto;
        order: -1;
    }

    .contact-me {}
}