* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Cormorant", sans-serif;
    color: #b52a11;
}

body {
    background-color: #e8e3dd;
    margin: 0 2rem;
}

p {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 4rem;
}

h1 {
    font-family: "Cormorant";
    margin-top: 10rem;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

h2 {
    font-family: "Cormorant";
    text-align: center;
    font-weight: 300;
    margin-top: 1rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.navbar {
    font-family: "Montserrat", sans-serif;
    background-color: #e8e3dd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
}

.name-logo p {
    font-family: "Chalkboard";
    font-weight: lighter;
    font-size: 1.2rem;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
}

.nav-links li a {
    color: #b52a11;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.8rem 1rem;
}

.nav-links li a:hover,
.nav-links li a:focus {
    color: #5d3c11;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #b52a11;
    cursor: pointer;
}

.subtitle {
    /* font-family: "Montserrat", sans-serif; */
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.project-title img {
    height: auto;
    width: 40vw;
    border-radius: 10px;
    margin-left: 10rem;
    margin-top: 1rem;
}

.client-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-intro h3 {
    margin-left: 5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.client-intro p {
    margin-left: 5rem;
    margin-top: 1rem;
    max-width: 40vw;
    font-size: 1.2rem;
}

.stage-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

.stage-name {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 4rem;
}

.stage-number {
    font-style: italic;
    font-size: 8rem;
    color: rgba(85, 119, 164, 0.5);
    position: relative;
    margin: 0;
    line-height: 1;
}

.stage-name h3 {
    line-height: 1;
}

.stage-discription {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 4rem;
}


.stage-discription p {
    max-width: 90%;
    margin-bottom: 1rem;
}

.poster-group {
    grid-column: 2/3;
    grid-row: 1/3;
    gap: 2rem;
    margin-right: 2rem;
}

.poster-group img {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.carousel {
    position: relative;
    min-width: 30vw;
    max-width: 40vw;
    margin-left: 4rem;
    overflow: hidden;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-track img {
    width: 100%;
    flex: 0 0 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 2rem;
    z-index: 10;
}

.prev {
    left: 3%;
}

.next {
    right: 3%;
}

.stage-2 {
    display: flex;
    align-items: center;
}

.stage-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;
    align-items: start;
}

.stage-3-left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
}

.user-journey-map {
    grid-column: 2 / 3;
    /* grid-row: 1 / 2; */
}

.stage-3 .carousel {
    grid-column: 2 / 3;
    /* grid-row: 1 / 3; */
    margin: 0;
}

.user-journey-map img,
.stage-3 .carousel {
    width: 100%;
    max-width: 100%;
}

.stage-3-left h4 {
    text-align: start;
}

.storyboard-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.storyboard-container h4 {
    text-align: center;
}

.storyboard img {
    width: 30vw;
    height: auto;
    justify-self: flex-end;
    border: #5d3c11 3px solid;
}

.concept {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.concept p {
    max-width: 30vw;
}

.concept-image img {
    width: 10vw;
    height: auto;
}

.how-helped-title {
    font-size: 1.5rem;
    color: #5d3c11;
    margin-bottom: 1rem;
    text-align: center;
}

.storyboard-how-it-helped {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;
    color: #5d3c11;
    justify-content: space-around;
    border-radius: 20px;
    border: #5d3c11 3px dashed;
}

.storyboard-help {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.storyboard-help h5 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    text-align: center;
}

.storyboard-help ul {
    margin-left: 1rem;
    line-height: 1.5;
}

.stage-5 .stage-name {
    justify-content: center;
}

.stage-5-description {
    margin: auto 4rem;
}


.workshop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    margin: auto 4rem;
    align-items: start;
}

.activity-1 {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.activity-2 {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.activity-1,
.activity-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}

.activity-2 img {
    width: 45vw;
    height: auto;
}

.activity-1 img {
    width: 30vw;
    height: auto;
}

.activity-3 {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
}

.activity-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    justify-items: center;
    align-items: start;
}

.activity-3-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.activity-3-block img {
    width: 90%;
    height: auto;
    max-width: 100%;
}

.activity-3-block h5 {
    margin: 0;
}

.workshop-container h4 {
    margin: auto;
    text-align: center;
}

.activity-1,
.activity-2,
.activity-3 p {
    text-align: start;
}

.workshop-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
    border-radius: 20px;
    border: #5d3c11 3px dashed;
    padding: 1rem;
}

.review-text {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5d3c11;
}

.review-img {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-img img {
    width: 25vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}


/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .navbar {
        justify-content: center;
        padding: 1rem;
        position: fixed;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 1100;
    }

    .name-logo {
        text-align: center;
        flex: 1;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -60%;
        width: 30%;
        height: 100vh;
        background-color: #e8e3dd;
        flex-direction: column;

        gap: 2rem;
        transition: left 0.3s ease-in-out;
        z-index: 1050;
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 2rem;
    }

    .nav-links.active {
        left: 0;
    }

    .navbar .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .client-intro {
        flex-direction: column;
    }

    .client-intro img {
        margin: auto;
        width: 80vw;
        height: auto;
    }

    .client-intro p {
        width: 80vw;
    }

    .stage-number {
        font-size: 5rem;
    }

    .stage-name h3 {
        font-size: 1.5rem;
    }

    .stage-1,
    .stage-2,
    .stage-3,
    .storyboard-how-it-helped,
    .workshop-container,
    .activity-3-columns,
    .workshop-review {
        display: flex;
        flex-direction: column;
    }

    li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .poster-group {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .poster-group img {
        width: 80vw;
        height: auto;
    }

    .concept {
        display: flex;
        flex-direction: column;
    }

    .storyboard-help h5 {
        margin-bottom: 0.3rem;
        font-size: 1.1rem;
    }

    .storyboard-help ul {
        line-height: 1.5;
    }

}